
*{
  
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*............ navbar...................... */
nav{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0px;
    background: #212121;
    z-index: 40000;

}

nav>#input{

    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* width: 600px; */
    gap:10px;
   

}
nav form{
    display: flex;
   border: 2px solid #303030;
   border-radius:10px;
   overflow: hidden;
   background-color: black;

    
    /* width:30px; */
}
nav form input{
    padding:10px;
    padding-inline:7px;
    width: 30vw;
    font-size: 18px;
    background: none;
    border:none;
}
nav form input:focus{
  color:white;
  outline: none;
}
nav form button{
  padding-inline:8px;
  background: #303030;
  color:gray;
  border:none;
  padding-right:5px;
}
nav form button:hover{
  cursor: pointer;
}
.mic{
  background-color:#303030;
  padding: 10px;
  border-radius: 50%;
  color:aliceblue;
}
.mic:hover{
  cursor: pointer;;
}
.last_iteams{

  display: flex;
  align-items: center;
  gap:20px;
  color:white;
  
}

/*.......... sidemenu.............. */
main{

  /* background-color: aqua; */
  display: flex;
  position: fixed;
}

.sidebar {
    display: flex;
    width: 240px;
    height: 100vh; 
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;   
    z-index: 90;
    left:0px;
    overflow-y: scroll;
   
    padding-top:10px;
    padding-bottom: 20px;
background-color: #212121;
color:white;

  
}
 
.sidebar::-webkit-scrollbar{
    display: none;
  } 
  .sidebar-top {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   
  }
  
  .item {
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
    cursor: pointer;
  }
  
  .item-logo {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .item-text {
    display: flex;
    width: 144px;
    padding: 4px 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    color: var(--theme-color-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .explore {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .subscriptions {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .options {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .sidebar-top :hover {
    background: var(--theme-color-hover);
  }
  
  .sidebar-top2 :hover {
    background: var(--theme-color-hover);
  }
  
  .sidebar-top2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .sidebar-subcriptions {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .sidebar-subscriptions :hover {
    background: var(--theme-color-hover);
  }
  
  .subscription-title {
    display: flex;
    width: 224px;
    height: 32px;
    padding-right: 0px;
    align-items: center;
  }
  
  .subscription-title h3 {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
    color: var(--theme-color-text);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .subscription-channel {
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
  }
  
  .sidebar-subcriptions :hover {
    background: var(--theme-color-hover);
  }
  
  .subscription-item {
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
  }
  
  .subscription-channel-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .channel-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
  }
  
  .subscription-channel-title {
    display: flex;
    width: 144px;
    padding: 4px 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    color: var(--theme-color-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .sidebar-more {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  
  .sidebar-more :hover {
    background: var(--theme-color-hover);
  }
  
  .more-title {
    display: flex;
    width: 224px;
    height: 32px;
    padding-right: 0px;
    align-items: center;
  }
  
  .more-title h3 {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
    color: var(--theme-color-text);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
.left{
  display: flex;
  flex-direction: column;
  width:85vw;
  background-color: rgb(0, 0, 0);
  color: white;
  /* overflow: hidden; */
 
 
}
.search-filters{
  display: flex;
  overflow-y:scroll ;
  height: 66px;
  align-items: center;
  width: 100vw;
  overflow-y: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  gap: 10px;
  padding-left: 20px;
  background-color: #202020;
  /* position: sticky; */
  top:0px;
 
}
.search-filters::-webkit-scrollbar{
  display: none;
 
}

  
  .search-filter-items {
    display: inline-flex;
     padding-left: 12px; 
   flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }
   
  .filter-button {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #303030;

    color:  #AAAAAA;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #AAAAAA;
   
  }
  #first{
    background-color: azure;
    color:black;
  }
  
  .video_div{
   
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding:30px;
  height:400px;
    /* background: none; */
     /* background-color: rgb(132, 92, 92); */
     color:white;
     overflow-y:scroll ;
  }
  
  .video-page{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
     padding-left:30px ;
     width: 100%;
     padding:25px;
     
     overflow: hidden;
     
  }
  
  .video {
   
  
    display: flex;
    flex-direction: column;
    
    width: 276px;
    min-height: 290px;
   
    overflow: hidden;
    border-radius: 10px;
   
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .video:hover {
    scale: 1.03;
  }
  
  .thumbnail {
  
  
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
  }
  
  .thumbnail img {
    

    width: 310px;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .title {
    display: flex;
    width: 252px;
    height: 74px;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 10px;
  }
  
  .channel-profile {
    display: flex;
    padding: 12px 12px 26px 0px;
    align-items: flex-start;
    gap: 10px;
  }
  
  .channel {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 24px; 
   }
  
  .video-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .video-info {
    display: flex;
    padding-top: 12px;
    align-items: flex-start;
    gap: 10px;
    color: var(--theme-color-text);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 204px;
  }
  
  .channel-name {
    display: flex;
    width: 204px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .channel-name h3 {
    color: var(--theme-color-light-text);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
  }
  
  .channel-name h2 {
    color: var(--theme-color-light-text);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }  
  